@use './assets/layout/fonts/fonts.scss' as *;
@use './assets/layout/scss/jems-login.scss' as *;

body {
    font-family: $font-familly;
}

// Layout style
.inner-content {
    padding: 24px !important;
    background: #fff;
    min-height: calc(100vh - 260px);
}

.ant-page-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}